@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*,
::before,
::after
{
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}