@import "/sass/base.scss";
@import "./layouts/header.scss";
@import "./layouts/localisation.scss";
@import "./layouts/explorer.scss";
@import "./layouts/fonctionnement.scss";
@import "./layouts/restaurants.scss";
@import "./layouts/footer.scss";
@import "./pages/menu.scss";
@import "./utils/animations.scss";
@import "./utils/mixins.scss";
@import "./layouts/loader.scss";

