@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* HEADER */
header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 16px;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

header img {
  width: 180px;
}

.city {
  text-align: center;
  background-color: #eaeaea;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-size: 12px;
}
.city i {
  font-size: 22px;
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 16px;
}
.explorer h2 {
  margin-top: 24px;
  font-size: 32px;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  background: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 32px;
  box-shadow: -1px 3px 8px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 32px;
  transition: all 350ms ease;
}
.explorer button:hover, .explorer :active {
  transform: scale(1.1);
  opacity: 0.85;
}

.fonctionnement_list {
  counter-reset: steps;
}
.fonctionnement_list ol {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.fonctionnement_list li {
  position: relative;
  list-style: none;
  background-color: #f6f6f6;
  padding: 26px 20px;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  width: 295px;
}
.fonctionnement_list li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 17px;
  left: -15px;
}
.fonctionnement_list li:hover, .fonctionnement_list li :active {
  background-color: #f5edff;
  cursor: pointer;
}
.fonctionnement_list li:hover i, .fonctionnement_list li :active i {
  color: #9356DC;
}
.fonctionnement_list h2 {
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 30px;
}
.fonctionnement_list i {
  color: #7e7e7e;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 44px;
  padding-top: 16px;
  padding-bottom: 60px;
}
.restaurant h2 {
  margin-left: 16px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.menu__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.menu__cards .new {
  position: relative;
}
.menu__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 90px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}

.card_restaurant {
  background-color: white;
  box-shadow: -1px 3px 8px 2px rgba(0, 0, 0, 0.75);
  border-radius: 16px 16px 16px 16px;
  width: 320px;
  height: 282px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.card_restaurant h3 {
  margin-left: 14px;
  margin-bottom: -5px;
  display: flex;
  justify-content: space-between;
}
.card_restaurant h3 i {
  margin-right: 16px;
  font-size: 26px;
  background-color: white;
  position: relative;
}
.card_restaurant p {
  margin-left: 14px;
}
.card_restaurant img {
  height: 190px;
  width: 320px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center;
}

footer {
  background-color: #353535;
  padding: 20px;
}
footer h3 {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  margin-left: 20px;
}
footer ol {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer i {
  margin-right: 8px;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: white;
  margin-left: -20px;
}

/*# sourceMappingURL=style.css.map */
