@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* HEADER */
header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 16px;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

header img {
  width: 180px;
}

.city {
  text-align: center;
  background-color: #eaeaea;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-size: 12px;
}
.city i {
  font-size: 22px;
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 16px;
}
.explorer h2 {
  margin-top: 24px;
  font-size: 32px;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  background: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 32px;
  box-shadow: -1px 3px 8px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 32px;
  transition: all 350ms ease;
}
.explorer button:hover {
  transform: scale(1.1);
  opacity: 0.85;
}

.fonctionnement_list {
  counter-reset: steps;
}
.fonctionnement_list ol {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.fonctionnement_list li {
  position: relative;
  list-style: none;
  background-color: #f6f6f6;
  padding: 26px 20px;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  width: 295px;
}
.fonctionnement_list li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 17px;
  left: -15px;
}
.fonctionnement_list li:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.fonctionnement_list li:hover i {
  color: #9356DC;
}
.fonctionnement_list h2 {
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 30px;
}
.fonctionnement_list i {
  color: #7e7e7e;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 44px;
  padding-top: 16px;
  padding-bottom: 60px;
}
.restaurant h2 {
  margin-left: 16px;
  margin-bottom: 30px;
  padding-top: 20px;
  font-weight: bold;
}

.menu__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.menu__cards .new {
  position: relative;
}
.menu__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 90px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}

.card_restaurant {
  background-color: white;
  box-shadow: -1px 3px 8px 2px rgba(0, 0, 0, 0.75);
  border-radius: 16px 16px 16px 16px;
  width: 320px;
  height: 282px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 250ms ease-in;
}
.card_restaurant:hover {
  transform: scale(1.07);
}
.card_restaurant a {
  margin: 0px;
}
.card_restaurant h3 {
  margin-left: 14px;
  margin-bottom: -5px;
}
.card_restaurant p {
  margin-left: 14px;
}
.card_restaurant img {
  height: 190px;
  width: 320px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center;
}

.heart {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 76px;
}
.heart .fas {
  font-size: 30px;
  opacity: 0;
  color: transparent;
  position: absolute;
  top: 5.7px;
  left: 272.6px;
  right: 15px;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  transition: all 320ms ease-out;
}
.heart .fas:hover {
  opacity: 1;
  font-size: 31.5px;
  transform: scale(1.085);
}
.heart .far {
  font-size: 27px;
  margin-right: 16.5px;
  margin-top: 7.5px;
  position: absolute;
}

footer {
  background-color: #353535;
  padding: 20px;
}
footer h3 {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  margin-left: 20px;
}
footer ol {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer i {
  margin-right: 8px;
  font-size: 13px;
}
footer .fa-hands-helping {
  font-size: 11px;
}

a {
  text-decoration: none;
  color: white;
  margin-left: -20px;
}

.banner i {
  color: #353535;
  font-size: 22px;
  position: relative;
  right: 235px;
  top: 3px;
}

.img_resto {
  width: 100%;
}

.img_resto2 {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: center;
}

.img_resto3 {
  width: 100%;
}

.img_resto4 {
  width: 100%;
}

.title_menu {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  margin-bottom: 0;
  position: relative;
  top: -85px;
}

.main_menu .heart {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 89px;
}
.main_menu .heart .fas {
  font-size: 30px;
  opacity: 0;
  color: transparent;
  position: absolute;
  left: 369px;
  right: 15px;
  top: -47px;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  transition: all 320ms ease-out;
}
.main_menu .heart .fas:hover {
  opacity: 1;
  font-size: 29px;
  transform: scale(1.085);
}
.main_menu .heart .far {
  font-size: 27px;
  margin-right: 17px;
  position: absolute;
  bottom: 19px;
  color: #353535;
}

.menu-grid {
  margin-top: -85px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
}
.menu-grid h2 {
  font-size: 18px;
  font-weight: lighter;
}
.menu-grid h2 span {
  border-bottom: solid #99E2D0 2px;
}
.menu-grid .menus-category {
  background-color: white;
  border-radius: 16px 16px 16px 16px;
  height: 59px;
  box-shadow: -1px 3px 8px 2px rgba(0, 0, 0, 0.75);
}
.menu-grid .menus-category h3 {
  font-weight: bold;
  font-size: 15px;
  margin-top: 8px;
  margin-left: 8px;
  padding-bottom: 5px;
}
.menu-grid .menus-category p {
  display: flex;
  margin-left: 8px;
  justify-content: space-between;
  margin-top: -10px;
  font-weight: 100;
  font-size: 14px;
}
.menu-grid .menus-category span {
  margin-right: 16px;
  font-weight: 500;
}
.menu-grid .commander {
  display: flex;
  justify-content: center;
}
.menu-grid .commander button {
  background: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 32px;
  box-shadow: -1px 3px 8px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 32px;
  transition: all 350ms ease;
  margin-top: 20px;
}
.menu-grid .commander button:hover, .menu-grid .commander button:active {
  transform: scale(1.1);
  opacity: 0.85;
}

/*# sourceMappingURL=style.css.map */
