
.banner i{
    color:#353535;
    font-size: 22px;
    position: relative;
    right: 235px;
    top: 3px;
}

.img_resto{
    width: 100%;
}

h1{
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    padding: 16px;
    font-weight: 500;
}

.main_menu .heart{
    
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 76px;
    .fas{
        font-size: 30px;
        opacity: 0;
        color: transparent;
        position: absolute;
        left: 328px;
        right: 15px;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to top,#9356DC, #FF79DA);
        transition: all 320ms ease-out;
        &:hover, :active{
            opacity: 1;
            font-size: 31.5px;
            transform: scale(1.085);
            }
    }
    .far{
        font-size: 27px;
        margin-right: 16.5px;
        position: absolute;
       
    }
    
}















