@use "../utils/mixins.scss";
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;
.banner i{
    color:#353535;
    font-size: 22px;
    position: relative;
    right: 235px;
    top: 3px;
}

.img_resto{
    width: 100%;
    
}

.img_resto2{
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
}
.img_resto3{
    width: 100%;
}
.img_resto4{
    width: 100%;
}

.title_menu{
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    top: -85px;
    
}

.main_menu .heart{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
    .fas{
        opacity: 0;
        color: transparent;
        position: absolute;
        left: 363.2px;
        top: -34px;
        background-clip:text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to top,$couleur-primaire, $couleur-secondaire);
        transition: all 320ms ease-in;
        &:hover{
            opacity: 1;
            font-size: 22.5px;
            transform: scale(1.085);
            }
            &:active{
                opacity: 1;
                font-size: 22.5px;
                transform: scale(1.085);
            }
    }
    .far{
        font-size: 22px;
        position: absolute;
        bottom: 111px;
        left: 363px;
        color: #353535;
        margin: 0;
       
    }
    
}



.menu-grid{
    margin-top: -85px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
    overflow: hidden;

    h2{
        font-size: 18px;
        font-weight: lighter;
        margin-top: 30px;
        span{
            border-bottom:solid $couleur-tertiaire 2px;
            
        }
    }
    .menus-category{
        
        background-color:white;
        border-radius: 16px 16px 16px 16px;
        height: 75px;
        transform: translate(0,0);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-shadow: 1px 2px 11px #e5e5e5;
        
       
        h3{
            font-weight: bold;
            font-size: 18.5px;
            margin-top: 10px;
            margin-left: 8px;
            padding-bottom: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
             white-space: nowrap;
        }
     
        .radio__input {
            appearance: none;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            cursor: pointer;
          
              &:hover+.titre-flex{
                  width: 85%;
                  }
              &:hover+.titre-flex+.menu-check{                
                   transform: translate(0, 0);
                  }
              &:hover+.titre-flex+.menu-check i{                
                  transform: translate(0, 0) rotate(1turn);
                  }
          
              &:checked+.titre-flex{
                  width: 85%;
                  }
              &:checked+.titre-flex+.menu-check{                
                   transform: translate(0, 0);
                  }
              &:checked+.titre-flex+.menu-check i{                
                  transform: translate(0, 0) rotate(1turn);
                  }
           
          }
          
    }
   
    
   .titre-flex{
       transition: 450ms 50ms;
       width: 100%;
       
    
   }
    .commander {
        display: flex;
        justify-content: center;
        button
        {
            @include mixins.bouton
        }
        button:hover, button:active
        {
            @include mixins.bouton-hover
        }
    }
}


.menu-check{
    @include mixins.check;

   i{
        @include mixins.check-icon;
        
    }
    
    
}
.price{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    p{
        display: block;
        margin-left: 8px;
        margin-top: -5px;
        font-weight: 400;
        color: black;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    span{
            font-weight: 500;
            font-size: 15px;
            margin-right: 16px;
            margin-bottom: 16px;
            
    }
    
}
.title-menu{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
// ANIMATION 

.delay-1 {
    @include mixins.delay (900ms);
}
.delay-2 {
    @include mixins.delay (1300ms);
  }
  .delay-3 {
    @include mixins.delay (1700ms);
  }
  .delay-4 {
    @include mixins.delay (2100ms);
  }
  .delay-5 {
    @include mixins.delay (2500ms);
  }
  .delay-6 {
    @include mixins.delay (2900ms);
  }
  .delay-7 {
    @include mixins.delay (3300ms);
  }
  .delay-8 {
    @include mixins.delay (3700ms);
  }
  .delay-9 {
    @include mixins.delay (4100ms);
  }
  .delay-10 {
    @include mixins.delay (4500ms);
  }
  .delay-11 {
    @include mixins.delay (4900ms);
  }


// DESKTOP
@media(min-width:1025px){

    @include mixins.desktop-menus;
    
}
// FIX 
@media(min-width:375px) and (max-width:414px){
    .main_menu .heart{
            .fas{
            
            left: 340.2px;
         }
        .far{
           left: 338px;
            }
        }
}