@use "../utils/mixins.scss";

// EXPLORER LES RESTAURANTS
 
.explorer{
    text-align: center;
    background-color:#f6f6f6;
    padding: 16px;
   
     h2
    {
        margin-top: 24px;
        font-size: 32px;
    }
     p
    {
        font-size: 16px;
        
    }
     button
    {
        @include mixins.bouton;
    }
    button:hover
    {
        @include mixins.bouton-hover;
    }
}


    
      