@use "../utils/mixins.scss";

$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;

footer
{
    background-color: #353535;
    padding: 20px;
    
    h3{
        color:white;
        font-family: 'Shrikhand' ,sans-serif;
        font-weight: 300;
        margin-left: 20px;
    }
    ol{
        list-style-type: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        display: flex;
        flex-direction: column;
        gap:12px;
        :hover{
            color:$couleur-secondaire;
        }
    }
    i{
        margin-right:8px;
        font-size: 13px;
    }
    .fa-hands-helping{
        font-size: 11px;
    }
}


 a{
     text-decoration: none;
     color: white;
     margin-left: -20px;
 }
 
 // DESKTOP 
@media(min-width:1025px){
    @include mixins.footer-desktop;
}