footer
{
    background-color: #353535;
    padding: 20px;
    
    h3{
        color:white;
        font-family: 'Shrikhand' ,sans-serif;
        font-weight: 300;
    }
    ol{
        list-style-type: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        display: flex;
        flex-direction: column;
        gap:12px ;
    }
}


 a{
     text-decoration: none;
     color: white;
     margin-left: -20px;
 }