// LOCALISATION
.city
{
    text-align: center;
    background-color: #eaeaea;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    font-size: 12px;
 i
    {
        font-size: 22px;
    }
}