
.restaurant{
    background-color: #f6f6f6;
    margin-top: 44px;
    padding-top: 16px;
    padding-bottom: 60px;
    
   
    h2{
        margin-left: 50px;
        margin-bottom: 25px;
        padding-top: 20px;
        font-weight: bold;
      }

}

.menu__cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    .new{
        
        position: relative;
        &::before{
            content: "Nouveau";
            position:absolute;
            height: 30px;
            width: 90px;
            background-color:#99E2D0;
            color: darken($color: #99E2D0, $amount: 35%);
            font-weight: bold;
            display: grid;
            place-items: center;
            right: 16px;
            top: 16px;
        }
    }
    
}

.card_restaurant{
    background-color: white;
    box-shadow: -1px 3px 8px 2px rgba(0,0,0,0.75);
    border-radius: 16px 16px 16px 16px;
    width: 320px;
    height: 282px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 250ms ease-in;
    a{
        margin: 0px;
        color: #000;
    }
    &:hover{
        transform: scale(1.07);
    }


    h3{
        margin-left: 14px;
        
        
        
        }
    p{
        margin-left: 14px;
        margin-top: 0;
    
    }
        img{
        height: 190px;
        width: 320px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        object-position: center;
    }
    

}
.heart{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .fas{
        font-size: 22px;
        opacity: 0;
        color: transparent;
        position: absolute;
        top: 18.7px;
        left: 281.5px;
        right: 15px;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to top,#9356DC, #FF79DA);
        transition: all 320ms ease-out;
        &:hover{
            opacity: 1;
            font-size: 22.5px;
            transform: scale(1.085);
            }
    }
    .far{
        
        font-size: 22px;
        margin-right: 16.5px;
        
    }
    
}

// DESKTOP 
@media(min-width:1025px){
    .menu__cards{
        margin-left: 30px;
        flex-direction: row;
        }
   
}